@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    
    #language-select, a > img{
        @apply grayscale hover:filter-none transition-all ease-in duration-200;
    }

    #language-select, a[aria-checked=true] > img{
        @apply filter-none;
    }

    #biography{
        background-image: linear-gradient(black, black), url('../img/biography/biography-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;        
        background-blend-mode: saturation;
    }
    
}